* {
    box-sizing: border-box;
}
.page {
    position: relative;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container__top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 33.4%;
    border: 1px solid black;
}

.container__middle {
    width: 100%;
    height: 33.4%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}
.container__middle > div {
    border: 1px solid black;
    width: 33.4%;
}

.container__middle > div:first-child {
    background-color: darkblue;
}

.container__middle > div:nth-child(2) {
    background-color: red;
    border: 1px dashed black;
}

.container__middle > div:last-child {
    background-color: green;
}
.container__end {
    display: flex;
    flex-direction: row;
    height: 33.4%;
}

.container__end > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 33.4%;
}

.container__end > div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 66.6%;
}
.hidden {
    display: none;
    visibility: hidden;
}
.set-order {
    order: -1;
}

.madal-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.459);
}
.madal-container__window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 50%;
    background-color: white;
    border-radius: 10px;
}
@media screen and (max-width: 425px) {
    .container__middle {
        flex-direction: column;
    }
    .container__middle > div {
        width: 100%;
        height: 33.4%;
    }
    .container__end {
        flex-direction: column;
    }
    .container__end > div:first-child {
        width: 100%;
        height: 50%;
    }
    .container__end > div:last-child {
        width: 100%;
        height: 50%;
    }
}
